[Unit]
Description=Starts the fathom server
Requires=network.target
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=3
WorkingDirectory=/root/fathom
ExecStart=/usr/local/bin/fathom server

[Install]
WantedBy=multi-user.target