server {
  listen 80;
  server_name {{ item.server_name }} {{ item.alias }};
  access_log syslog:server=unix:/dev/log;
  error_log stderr;

  root /home/coaster/{{ item.project }}/public;

  location ~ /.well-known {
    allow all;
  }

  return 302 https://{{ item.server_name }}$request_uri;
}

{% if item.alias != "" %}
server {
  listen 443 ssl;
  server_name {{ item.alias }};
  access_log syslog:server=unix:/dev/log;
  error_log stderr;

  ssl_certificate     /etc/ssl/dev.rollingglory.com/fullchain.cer;
  ssl_certificate_key /etc/ssl/dev.rollingglory.com/dev.rollingglory.com.key;

  ssl_protocols TLSv1.2;
  ssl_ciphers EECDH+AES256:EDH+AES256:EECDH+AES256:EDH+256;

  ssl_prefer_server_ciphers on;
  ssl_dhparam /etc/ssl/certs/dhparam.pem;
  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_stapling on;
  ssl_stapling_verify on;

  root /home/coaster/{{ item.project }}/public;

  location ~ /.well-known {
    allow all;
  }

  return 302 https://{{ item.server_name }}$request_uri;
}
{% endif %}

server {
  listen 443 ssl;
  server_name {{ item.server_name }};
  access_log syslog:server=unix:/dev/log;
  error_log stderr;

  ssl_certificate     /etc/ssl/dev.rollingglory.com/fullchain.cer;
  ssl_certificate_key /etc/ssl/dev.rollingglory.com/dev.rollingglory.com.key;

  ssl_protocols TLSv1.2;
  ssl_ciphers EECDH+AES256:EDH+AES256:EECDH+AES256:EDH+256;

  ssl_prefer_server_ciphers on;
  ssl_dhparam /etc/ssl/certs/dhparam.pem;
  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_stapling on;
  ssl_stapling_verify on;

  root /home/coaster/{{ item.project }}/public;
  index index.php;

  location ~ /.well-known {
    allow all;
  }

  location / {
    try_files $uri $uri/ /index.php?_url=$uri&$args;
  }

  location ~ [^/]\.php(/|$) {
    include /etc/nginx/fastcgi_params;
    try_files $uri =404;

    fastcgi_index /index.php;
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    fastcgi_param PATH_INFO $fastcgi_path_info;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    fastcgi_pass unix:/var/run/php-fpm.sock;
  }

  location ~ /\. {
    deny all;
  }
}

# vi: ft=nginx
